@font-face {
font-family: 'ITC Avant Garde Std XL-wdRFc3Du';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/e2aa9fa6-4899-475e-93c1-acb299649b59/itc-itcavantgardestd-xlt.woff') format('woff');
}